@media (max-width:500px){
    header{
        height: fit-content;
        padding: 1rem 0;
    }

    nav{
        display: none;
    }

    .drowpdown{
        position: relative;
        display: inline-block;
    }

    .dropbtn img{
        width: 40px;
        padding: 0;
        cursor: pointer;
    }

    .dropbtn{
        background-color: transparent;
        border: 0;
        padding: 0;
        margin-right: 2rem;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        left: -200%;
        background-color: white;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: .5rem;
    }

    .dropdown-content a li{
        color: chocolate;
        padding: 1rem 1.5rem;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .dropdown-content a:hover{
        background-color: chocolate;
    }

    .drowpdown:hover .dropdown-content{
        display: block;
    }

    .moving-page{
        flex-direction: column;
        height: 80vh;
    }

    .grid-01-align{
        padding-left: 2rem;
        width: fit-content;
    }

    .grid-02-align{
        height: 10%;
    }

    .align-t-grid{
        line-height: 1.5;
    }

    .organize-about-content{
        padding: 0;
        display: block;
    }

    .profile-outline{
        width: 70%;
        height: 300px;
        margin-left: 2rem;
    }

    .profile-pic{
        width: 100%;
        height: 300px;
        margin-left: 2rem;
        margin-top: -2rem;
    }

    .align-t-grid p {
        width: 80%;
        line-height: 1.2;
    }

    .organize-text-about{
        margin: 0;
        margin-left: 1rem;
        width: 80%;
    }

    .organize-text-about h2, .organize-text-about p{
        width: 100%;
        flex-direction: column;
    }

    .services{
        column-gap: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .agroup-service-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .agroup-service-card img {
        width: 30px;
        height: 30px;
    }

    .agroup-text-service{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divisor{
        margin: 2rem 0;
    }

    .align-projects{
        margin: 0;
        width: fit-content;
    }

    .portfolio{
        padding: 2rem;
    }

    .projects-header h2{
        margin: 1.5rem 0;
    }

    .grid-projects{
        display: flex;
        flex-direction: column;
    }

    .screenshot-project{
        width: 300px;
        height: 200px;
    }

    .project-details p, .project-details h3, .project-details a{
        font-size: .825rem;
        margin: 0;
    }

    .organize-content h2{
        font-size: 2rem;
        margin: 0;
    }

    .organize-content, .contact-me{
        margin: 0;
        margin-left: 20px;
    }

    .organize-content form{
        display: flex;
        flex-direction: column;
    }

    .organize-content form input, textarea{
        width: 150%;
    }

    .send-message{
        margin-top: 1rem;
    }

    footer h4{
        text-align: center;
    }
}

@media (max-width:900px){
    .grid-01-align, .grid-02-align{
        width: 100%;
    }

    .grid-02-align{
        height: 10%;
    }

    .moving-page{
        flex-direction: column;
        height: 90vh;
    }

    .organize-about-content{
        flex-direction: column;
    }

    .organize-profile-photo{
        width: 100%;
        justify-content: center;
    }

    .profile-outline{
        width: 300px;
        height: 300px;
    }

    .profile-pic{
        height: 300px;
        width: 300px;
        margin-top: -2rem;
        margin-left: 2rem;
    }

    .organize-text-about{
        margin: 0;
        width: 70%;
        text-align: center;
        margin: 2rem 0;
    }

    .organize-text-about p{
        width:100%;
    }

    main{
        width: 100vw;
    }

    .grid-projects{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:800px){
    nav{
        display: none;
    }

    .drowpdown{
        position: relative;
        display: inline-block;
    }

    .dropbtn img{
        width: 40px;
        padding: 0;
        cursor: pointer;
    }

    .dropbtn{
        background-color: transparent;
        border: 0;
        padding: 0;
        margin-right: 2rem;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        left: -200%;
        background-color: white;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: .5rem;
    }

    .dropdown-content a li{
        color: chocolate;
        padding: 1rem 1.5rem;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .dropdown-content a:hover{
        background-color: chocolate;
    }

    .drowpdown:hover .dropdown-content{
        display: block;
    }

    .organize-content{
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
    }

    .organize-content h2{
        margin: 1rem 0;
        font-size: 4rem;
    }
}