body{
    margin: 0;
    background-color: white;
    width: 100%;
}

*, p{
    font-family: raleway;
    line-height: 1.5rem;
}

*::selection{
    background-color: chocolate;
    color: black;
}

@font-face {
    font-family: raleway;
    src: url('assets/fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: caveat;
    src: url('assets/fonts/Caveat-VariableFont_wght.ttf');
}

header{
    height: 5vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    position: static;
    width: 100%;
}

header p{
    margin: 0;
    font-family: caveat;
    font-weight: bold;
    color: chocolate;
}

header a{
    text-decoration: none;
    color: black;
}

.navigation-links{
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation-links li{
    list-style: none;
    margin-right: 2rem;
    padding: 1rem;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.normal-header-hover li:hover{
    color:chocolate;
}

.moving-page{
    height: 100vh;
    display: flex;
    background-size: contain;
}

.social-media-links a li img {
    width: 50px;
}

main h1, main p, main ul{
    margin: 0;
    padding: 0;
    color: black;
}

main ul {
    display: flex;
}
main ul li{
    list-style: none;
    margin-right: 2rem;
}

.grid-01-align, .grid-02-align{
    height: 100%;
    width: 100%;
}

.grid-01-align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-t-grid{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.align-t-grid h1, .align-t-grid p{
    display: flex;
    margin-bottom: 1rem;
}

.align-t-grid h1{
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: 2rem;
    animation: typingHeader 10s infinite ease;
}

.align-t-grid p{
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: bold;
}

.about{
    height: fit-content;
    width: 100%;
}

.organize-about-content{
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.organize-profile-photo{
    display: flex;
    
}

.profile-outline{
    width: 350px;
    height: 450px;
    border: 15px solid rgba(210, 105, 30, 0.7);
    position: relative;
    margin-top: 3rem;
    animation: movingPic 5s ease;
}

.profile-pic{
    width: 365px;
    height: 465px;
    background-size: cover;
    margin-left: 3rem;
    margin-top: -3rem;
    box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
}

.organize-text-about{
    width: 40%;
    margin-left: 10rem;
    color: rgba(210, 105, 30, 0.7);
}

.organize-text-about h2{
    font-size: 1.5rem;
    font-weight: bold;
}

.organize-text-about p{
    width: 75%;
    font-size: 1.2rem;
    color: rgba(150, 116, 91, 0.5);
}

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    column-gap: 5rem;
}

.agroup-text-service{
    width: 80%;
}

.agroup-text-service p{
    color: rgba(150, 116, 91, 0.8);
}

.agroup-text-service h3{
    width: 60%;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

.divisor{
    width: 30%;
    height: 5px;
    background-color: chocolate;
}

.portfolio{
    height: fit-content;
    background-color: chocolate;
    padding: 5rem 0;
}

.align-projects{
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.projects-header, .nav-projects{
    text-align: center;
    display: block;
}

.projects-header h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    margin: 4rem 0;
    color: white;
}

.nav-projects a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-projects a li:hover{
    color: white;
    transition: .5s linear;
}

.screenshot-project img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.screenshot-project{
    border: .5px solid rgb(204, 99, 24);
    position: relative;
}

.grid-projects{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.project-details{
    display: none;
}

.project-details p, .project-details h3, .project-details a{
    color: white;
    text-decoration: none;
} 

.screenshot-project:hover > .project-details{
    display: block;
    transition: 2s linear;
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: rgba(233, 134, 63, 0.9);
    color: white;
    width: 7=80%;
    height: 70%;
    padding: 1.5rem 1rem;
    -webkit-box-shadow: 26px 24px 38px -3px rgba(0,0,0,0.35);
-moz-box-shadow: 26px 24px 38px -3px rgba(0,0,0,0.35);
box-shadow: 26px 24px 38px -3px rgba(0,0,0,0.35);
}

.contact-me{
    height: fit-content;
    display: flex;
    padding: 3rem 0;
    align-items: right;
}

.organize-content{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.organize-content h2{
    font-size: 5rem;
    text-align: center;
    display: block;
    width: 100%;
}

.organize-content form input{
    height: 3rem;
}

.organize-content form input::placeholder, textarea::placeholder{
    font-size: 1.3rem;
}

.organize-content form input, textarea{
    width: 95%;
    margin-top: 1rem;
    padding-left: 1rem;
}

textarea{
    resize: none;
    height: 10rem;
}

.organize-content form input:hover, textarea:hover{
    background-color: rgb(240, 236, 236);
}

.organize-content form input:focus, textarea:focus{
    outline: .5px solid red;
    border: 0;
}

.send-message{
    margin: 0;
    margin-right: 10px;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    color: white;
    background-color: chocolate;
    border: 0;
}

.send-message:hover{
    cursor: pointer;
    background-color: rgb(201, 197, 197);
    transition: 2s linear;
}

footer{
    height: fit-content;
    background-color: rgb(223, 220, 220);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul{
    display: flex;
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
}

footer p, footer h4{
    margin: 0;
}

footer h4{
    text-transform: uppercase;
    color: chocolate;
    margin: 1rem 0;
}

footer p{
    color: chocolate;
}

footer #destaque{
    color: black;
    cursor: pointer;
}

.intro-section{
    height: fit-content;
    display: flex;
    padding: 5rem 0;
}

.organize-page{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.organize-page h1{
    text-transform: uppercase;
    font-weight: normal;
    font-weight: normal;
    font-size: 3rem;
}

#bold-destaque{
    color: chocolate;
    font-weight: bold;
}
.agrupacao-info{
    margin: 10rem 0;
}

.agrupacao-info, .my-resume{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text{
    width: 30%;
    text-align: left;
}

.about-text h2{
    font-size: 3rem;
    margin: 0;
    margin-bottom: 2rem;
    font-family: monospace;
    font-weight: normal;
}

.about-text p{
    font-size: 1.1rem;
    margin-bottom: 2rem;
    font-family: monospace;
}

.personal-info-label h2{
    font-family: monospace;
    font-weight: 600;
    text-align: left;
    font-size: 1.5rem;
}

.personal-info{
    width: 20%;
    margin-right: 5rem;
}

.personal-info p{
    font-weight: normal;
    font-family: monospace;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.my-resume{
    flex-direction: column;
    position: relative;
    z-index: 0;
}

.my-resume h2{
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10rem;
}

.resume-timeline{
    text-align: center;
    
}

.my-resume::before{
    content: " ";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.5);
    transform: rotate(90deg);
    z-index: -1;
    display: block;
    margin-top: 5rem;
    margin-right: 1rem;
}


.resume-timeline h3{
    text-transform: uppercase;
    background-color: #f1f1f1;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: normal;
    font-family: monospace;
    font-size: 1.5rem;
}

.experience-left, .experience-right{
    text-align: right;
    margin: 4.5rem 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.experience-card{
    display: flex;
}

.experience-left, .blank-space, .experience-right{
    width: 100%;
}

.experience-left + .blank-space{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.blank-space img {
    width: 30px;
    background-color: chocolate;
    border-radius: 50%;
    padding: 1rem;
}

.blank-space{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-left: 5rem;
}

.experience-left{
    padding-right: 2rem;
}

.experience-left + .blank-space{
    margin: 0;
    margin-right: 7rem;
}

.experience-right{
    text-align: left;
    align-items: flex-start;
    padding-left: 2rem;
}

.experience-left h4, .experience-right h4{
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1rem;
}

.experience-left h4, .experience-left p, .experience-right h4, .experience-right p{
    font-family: monospace;
    letter-spacing: 2px;
}

.experience-left h4 + p, .experience-right h4 + p{
    font-size: .925rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: rgba(210, 105, 30, 0.7);
}

.experience-left p + p, .experience-right p + p{
    width: 80%;
}

.chocolate-bg{
    background-color: chocolate;
}

.secondary-header-color p, li{
    color: white;
}

.secondary-header-color li:hover{
    background-color: white;
    color: chocolate;
    transition: .5s linear;
}

.my-skills{
    height: 60vh;
    text-align: center;
    padding: 5rem 0;
}

.my-skills h2{
    color: white;
    font-family: monospace;
    font-size: 3rem;
    font-weight: normal;
}

.grid-align-skills{
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border-top: 1px solid white;
}

.grid-skills{
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1FR);
}

.skill-set{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.progress-header{
    display: flex;
    justify-content: space-between;
}

.progress-header h3{
    margin: 0;
    text-align: left;
    margin-bottom: 2rem;
    font-family: monospace;
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 2px;
}

.progress-header p{
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: monospace;
}

.progress-bar-bg{
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 20px;
}

.progress-bar-purple{
    width: 15%;
    background-color: purple;
    height: 100%;
    border-radius: 20px;
}

.progress-bar-green{
    width: 90%;
    background-color: rgb(4, 0, 255);
    height: 100%;
    border-radius: 20px;
}

.progress-bar-blue{
    min-width: 0%;
    width: 100%;
    background-color: rgb(35, 178, 226);
    height: 100%;
    border-radius: 20px;
}

.progress-bar-animation{
    transition: all .5s ease-in;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    animation: progress-stripes 2s linear infinite;
}

@keyframes progress-stripes{
    0%{
        background-position: 40px 0;
    }
    100%{
        background-position: 0 0;
    }
}

@keyframes typingHeader{
    0%{
        color: black;
        
    }
    10%{
        color: red;
        
    }
    20%{
        color: greenyellow;
    }        
    30%{
        color: lightpink;
        
    }
    40%{
        color: brown;
        
    }
    50%{
        color: deeppink;
        
    }
    60%{
        color: brown;
        
    }
    70%{
        color: lightpink;
        
    }
    80%{
        color: greenyellow;
        
    }
    90%{
        color: red;
        
    }
    100%{
        color: black;
        
    }
}

.agroup-service-card{
    animation: enteringText 5s ease;
}

@keyframes movingPic {
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes enteringText{
    0%{
        transform: scale(0.1) translateY(100px);
    }
    100%{
        transform: scale(1) translateY(0px);
    }
}


.drowpdown{
    display: none;
}