body{
    margin: 0;
    font-family: raleway;
    background-color: black;
    color: white;
}

a{
    color: white;
}

@font-face {
    font-family: raleway;
    src: url(/assets/fonts/Raleway-VariableFont_wght.ttf);
}

header{
    background-color: white;
    height: 3vh;
    font-family: raleway;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
    color: black;
}

header p{
    margin: 0;
}

.landing-page{
    height: 85vh;
    background: url('/assets/images/Design\ sem\ nome\ \(1\).png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.arrange-text{
    width: 70vw;
    height: 70vh;
    border-bottom: 20px solid white;
    display: flex;
    margin-top: 3REM;
}

.right-text, .left-text{
    width: 50vw;
}

.right-text{
    color: white;
    padding-top: 4rem;
}

.right-text h1{
    font-size: 10rem;
    margin: 0;
    font-weight: bold;
}

.right-text p{
    width: 45%;
    font-weight: 600;
}

.contact-me{
    display: flex;
    color: white;
    width: 70%;
}

.contact-me #contact, .contact-me #social-media{
    width: 100%;
}

.contact-me #contact{
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.contact-me #contact p:first-child{
    margin-right: 8rem;
}

.contact-me #social-media{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-me #social-media img{
    width: 35px;
    margin-left: 1rem;
}

.contact-me #social-media #insta{
    width: 50px;
}

.profile{
    height: 60vh;
    background-color: rgba(0, 0, 139, 0.911);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10rem 0;
}

.arrange-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#centralize-image{
    width: 300px;
    height: 300px;
}

#centralize-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.social-media-arrange{
    margin: 1.5rem 0;
    width: fit-content;
    padding: 1.5rem 5rem;
    background: linear-gradient(90deg, rgb(13, 125, 218), rgb(0, 65, 85));
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.social-media-arrange img{
    height: 40px;
    margin-right: 1.5rem;
}

.social-media-arrange img:hover{
    cursor: pointer;
}

.social-media-arrange img:first-child{
    height: 50px;
}

.personal-info{
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal-info p{
    color: orange;
    font-weight: bold;
    font-size: 1.5rem;
}

.text-ident{
    text-indent: 2rem;
}

.personal-info #yellow{
    color: yellow;
    font-weight: 600;
}

.personal-info #purple{
    color: powderblue;
}

.arrange-content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#my-work-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 5rem 0;
}

#my-work h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1rem;
}

#my-work #sans-serif{
    font-size: 3rem;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0;
}

.divisor{
    height: 5px;
    width: 80%;
    background-color: rgb(0, 128, 111);
}

.divisor-02{
    height: 5px;
    width: 80%;
    background-color: violet;
}

.experiences{
    display: flex;
    padding-bottom: 5rem;
}
.agroup h3{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
}

.agroup figure{
    margin: 0;
    width: fit-content;
}

.agroup figure img, .work-experience figure img{
    width: 90%;
}

.experiences ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    font-size: 1.3rem;
}

.work-experience{
    display: flex;
    margin: 5rem 0;
}

.work-experience ul{
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    font-size: 1.3rem;
}

.content{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.about{
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: rgba(0, 0, 139, 0.911);
    color: white;
}

.about-me{
    display: flex;
    column-gap: 2rem;
    margin-bottom: 10rem;
}

.about-me .column{
    font-size: 1.3rem;
    width: 50%;
}

.about-me .column #bold{
    font-weight: bold;
}

.my-skills{
    padding-top: 5rem;
}

.my-skills h3{
    font-size: 3rem;
    margin: 0;
}

.arrange-skills{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(1, 250px);
    margin-top: 4rem;
    column-gap: 3rem;
}

.arrange-skills figure img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.arrange-skills figure{
    width: 100%;
    margin: 0;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

footer{
    background-color: black;
    height: 40vh;
}

.form-arrange{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contact-info, .contact-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}

.contact-info h3, .contact-info p{
    margin: 0;
    width: 50%;
}

footer{
    padding: 8rem 0;
}

.contact-info p{
    font-size: 1.5rem;
    width: 50%;
    margin-top: 5rem;
    font-weight: 600;
}

form{
    font-size: 1.3rem;
    color: white;
}

input, textarea{
    width: 70%;
    margin-top: .5rem;
    border: 0;
    border-radius: 10px;
    background-color: rgba(100, 149, 237, .7);
    padding: 0;
    color: white;
    font-family: raleway;
    padding: 1rem;
}

textarea{
    height: 100px;
    resize: none;
}

input::placeholder, textarea::placeholder{
    color: rgba(255, 255, 255, .8);
    font-family: raleway;
    font-size: 1rem;
    font-weight: bold;
}

input:focus, textarea:focus{
    border: 0;
    outline: none;
}

.contact-form button{
    width: fit-content;
    margin-top: 3rem;
    font-size: 1.5rem;
    color: black;
    border: 0;
    border-radius: 30px;
    background-color: white;
    padding: 1rem 2rem;
}