body{
    margin: 0;
    background-color: white;
    width: 100%;
}

*, p{
    font-family: raleway;
    line-height: 1.5rem;
}

@font-face {
    font-family: raleway;
    src: url(/assets/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: caveat;
    src: url(/assets/fonts/Caveat-VariableFont_wght.ttf);
}

header{
    height: 5vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    position: static;
    width: 100%;
}

header p{
    margin: 0;
    font-family: caveat;
    font-weight: bold;
    color: darkcyan;
}

header a{
    text-decoration: none;
    color: black;
}

.navigation-links{
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation-links li{
    list-style: none;
    margin-right: 2rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.navigation-links li:hover{
    color:darkcyan;
}

.moving-page{
    height: 90vh;
    display: flex;
    background: url('/assets/images/0cc78d97-bbef-4620-9116-bb9b7b598322.jpg');
    background-size: contain;
}

.social-media-links a li img {
    width: 50px;
}

main h1, main p, main ul{
    margin: 0;
    padding: 0;
    color: black;
}

main ul {
    display: flex;
}
main ul li{
    list-style: none;
    margin-right: 2rem;
}

.grid-01-align, .grid-02-align{
    height: 100%;
    width: 100%;
}

.grid-01-align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-t-grid{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.align-t-grid h1, .align-t-grid p{
    display: flex;
    margin-bottom: 1rem;
}

.align-t-grid h1{
    text-transform: uppercase;
    font-size: 3rem;
}

.align-t-grid p{
    font-size: 1rem;
    letter-spacing: 5px;
    font-weight: bold;
}

.about{
    height: fit-content;
    width: 100%;
}

.organize-about-content{
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.organize-profile-photo{
    display: flex;
    
}

.profile-outline{
    width: 350px;
    height: 450px;
    border: 15px solid rgba(210, 105, 30, 0.7);
    position: relative;
}

.profile-pic{
    width: 365px;
    height: 465px;
    background: url('/assets/images/profile-pic.png');
    background-size: cover;
    margin-left: 3rem;
    margin-top: -3rem;
    box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
}

.organize-text-about{
    width: 40%;
    margin-left: 10rem;
    color: rgba(210, 105, 30, 0.7);
}

.organize-text-about h2{
    font-size: 1.5rem;
    font-weight: bold;
}

.organize-text-about p{
    width: 75%;
    font-size: 1.2rem;
    color: rgba(150, 116, 91, 0.5);
}

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    column-gap: 5rem;
}

.agroup-text-service{
    width: 80%;
}

.agroup-text-service p{
    color: rgba(150, 116, 91, 0.8);
}

.agroup-text-service h3{
    width: 60%;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

.divisor{
    width: 30%;
    height: 5px;
    background-color: chocolate;
}

.portfolio{
    height: fit-content;
    background-color: chocolate;
    padding: 5rem 0;
}

.align-projects{
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.projects-header, .nav-projects{
    text-align: center;
    display: block;
}

.projects-header h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    margin: 4rem 0;
    color: white;
}

.nav-projects a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-projects a li:hover{
    color: white;
    transition: .5s linear;
}

.screenshot-project img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.screenshot-project{
    border: .5px solid rgb(204, 99, 24);
    position: relative;
}

.grid-projects{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.project-details{
    display: none;
}

.project-details p{
    color: white;
} 

.screenshot-project:hover > .project-details{
    display: block;
    transition: 2s linear;
    position: absolute;
    bottom: 10%;
    left: 5%;
    background-color: rgba(233, 134, 63, 0.9);
    color: white;
    width: 70%;
    padding: 1.5rem 1rem;
    -webkit-box-shadow: 26px 24px 38px -3px rgba(0,0,0,0.35);
-moz-box-shadow: 26px 24px 38px -3px rgba(0,0,0,0.35);
box-shadow: 26px 24px 38px -3px rgba(0,0,0,0.35);
}